nav ul {
    list-style-type: none; 
    margin: 0;           
    padding: 0;           
    display: flex;        
}

nav ul li {
    margin-right: 20px;   
}

nav ul li a {
    color: rgb(164, 197, 162);         
    text-decoration: none; 
    padding: 15px 15px;    
    transition: 0.3s; 
}
.nav {
    background-color:#1c5d03;
    height: 35px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-radius: 5px; 
    margin-bottom: 20px;
}
.set {
    margin-top: 5px;
    border-radius: 5px; 
    color: rgb(164, 197, 162);
    padding: 7px; 
}
body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    padding: 1px;
    background-color:black;
}
.active {
    color: black;
    background-color:  rgb(164, 197, 162);
    border-radius: 5px; 
}
.button {
    margin-top: 11px;
    display: inline-block; 
    padding: 7px 13px;
    background-color:  rgb(164, 197, 162);
    color: #1c5d03;
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    font-size: small;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}
